@model List<Models.KhachHang>
<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #FCFCFC;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #389DF5;
    }
</style>

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="grid">
    @grid.GetHtml(

        tableStyle: "webGrid", mode: WebGridPagerModes.All,
                firstText: "<< Đầu",
                previousText: "< Trước",
                nextText: "Tiếp >",
                lastText: "Cuối >>",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("TenKH", "Họ và tên", style: "description"),
                grid.Column("CMND", "Số CMND"),
                grid.Column("DiaChi", "Địa chỉ"),
                grid.Column("GioiTinh", "Giới tính"),
                grid.Column("SoDT", "Số điện thoại"),
                grid.Column("#",format: @<text><input type="checkbox" value="@item.MaKH" name="Makh[]"/></text>)

         ))

</div>